<div class="loading-overlay">
  <!-- Your loading spinner or placeholder here -->
  <p>Loading...</p>
</div>

<div >
  <div class="" style="margin-bottom: 20px; margin-top: 6%;">
    <p-panel header="Ações">
      <div class="flex" >
      
      </div>

          <div class="search">
            <h1>Operações</h1>
              <div class="flex"> <p  class="ntv">
                <p-button  (onClick)="sellAct()" class="mr-3" label="Vender Ação"></p-button>
              </p>
              <p  class="ntv">
                <p-button (onClick)="buyAct()" class="mr-3" label="Comprar Ação"></p-button>
              </p></div>
          </div>

      <div *ngIf="!pregaoBool">
        <p >
          <span style="color: #FFB267; font-weight: 700; font-size: 1.2rem;">O Pregão funciona das 10h ate as 18h</span>.
          <br>
          <span style="color: #fff; font-size: 12px;">
            Pode haver situações que o valor de compra/venda não atinja o valor negociado fora do pregão no próximo dia útil de operações, logo assim, o saldo retido para a operação será devolvido para a carteira no final do  pregão e a operação cancelada.
          </span> <br>
          <span style="color: #fff;">Valor de fechamento do dia:</span> R$ {{ this.valorFinal.toFixed(2) }}</p>
      </div>
      <div id="chart">
        <div id="chart-timeline"></div>
      </div>
    </p-panel>
   
  </div>

 

  <p-dialog header="Comprar Ação {{ empresaObj[0]?.nome}}" [(visible)]="visible" [modal]="true" width="300"
    [draggable]="true" [resizable]="true">
    <form [formGroup]="buyForm">
      <div class="grid">
        <div class="col-12">
          <div class="flex flex-column gap-2 card-info">
            <p>Valor da Ação: <strong> R$ {{currentValue.toFixed(2)}}</strong> </p>
            <p>Valor da Compra: <strong>R$ {{buyValue.toFixed(2)}}</strong> </p>
            <label htmlFor="quantidade">Quantidade</label>
            <p-inputNumber  [min]="0" [showButtons]="true" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus" decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success" formControlName="quantidade" id="nome" (onInput)="verifyBuyValue()" />
          </div>
        </div>

        <p class="ntv3 ">
          <p-button (onClick)="processBuy()" class="mr-3" label="Salvar"></p-button>
        </p>
      </div>
    </form>
  </p-dialog>

  <p-dialog header="Vender Ação {{ empresaObj[0]?.nome}}" [(visible)]="visibleSell" [modal]="true" width="300"
  [draggable]="true" [resizable]="true">
  <form [formGroup]="buyForm" *ngIf="this.flowCurrent">
    <div class="grid">
      <div class="col-12">
        <div class="flex flex-column gap-2 card-info">
          <p style="margin: 0px !important;">Valor da Ação: <strong> R$ {{currentValue.toFixed(2)}}</strong> </p>
          <p style="margin: 0px !important;">Valor da Compra: <strong>R$ {{this.flowCurrent.valor_compra}}</strong> </p>
          <p style="margin: 0px !important;">Ações compradas: <strong>{{ this.flowCurrent.quantidade }}</strong></p>
          <label htmlFor="quantidade">Quantidade á ser vendida</label>
          <!-- <input type="number" name="" value={{this.flowCurrent}} formControlName="quantidade" [disabled]="true"  id=""> -->
          <p-inputNumber [min]="1"  [max]="this.flowCurrent.quantidade" [showButtons]="true" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus" decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success" formControlName="quantidade"   id="nome" (onInput)="verifyBuyValue()"  />

          <p>Valor da venda:  <strong>R$ {{ this.buyValue.toFixed(2) }}</strong> </p>
        </div>
      </div>

      <p class="ntv3 ">
        <p-button (onClick)="processSell()" class="mr-3" label="Salvar"></p-button>
      </p>
    </div>
  </form>

  <div *ngIf="!this.flowCurrent">
    <h1>
      Você não tem ações disponiveis para venda!.
    </h1>
  </div>
</p-dialog>
</div>
