<div id="mySidenav" class="sidenav">


    <div class="sidenav-item" routerLink="homebroker" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">grid_view</span>
            Ações Tempo Real
        </a>
    </div>

    <div class="sidenav-item" routerLink="staff" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">wallet</span>
            Minha Carteira
        </a>
    </div>

    <div class="sidenav-item" routerLink="pagamento" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">wallet</span>
            Pagamento
        </a>
    </div>

    <!-- <div class="sidenav-item" routerLink="insumos" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Entradas
        </a>
    </div>
    <div class="sidenav-item" routerLink="producao" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">grid_view</span>
            Producao
        </a>
    </div>
    <div class="sidenav-item" routerLink="saidas" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Saidas
        </a>
    </div> -->

    <div class="sidenav-item" (click)="logout()">
        <!-- <img class="sidenav-icon" src="/assets/svg/service_order.svg" alt=""> -->
        <a>
            <span class="material-icons mr-2 ml-1">exit_to_app</span>
            Sair
        </a>
    </div>


    <div class="img-cont">
        <img src="../../../assets/WhatsApp Image 2024-08-18 at 01.18.06_d5d826d1.jpg" alt="">
    </div>

    <div class="vers">
        <p>Florida A Mkt Versão 1.2.0 Beta</p>
    </div>

   
</div>
