<div class="wallet">
  <div class="card" *ngIf="wallets.length > 0">
    <div  *ngFor="let wallet of wallets" class="notification" (click)="navigateTo(wallet.id)">
      <div class="notiglow"></div>
      <div class="notiborderglow"></div>
      <div class="notititle">{{ wallet['empresa']['nome'] }}</div>
      <div class="notibody">Quantidade: {{ wallet['quantidade'] | number:'1.0-0' }}</div>
      <div class="notibody">Valor Investido: R${{ wallet['valor_compra'] }}</div>
      <div class="notibody">Valor Retorno: R${{ wallet['valor_compra'] }}</div>
      <div class="notibody">Valor Ação na compra: R${{ wallet['valor_acao'] }} </div>
      <div class="notibody">Cotação fechamento: R${{ wallet['lastFlowItem']['valor_final'] }} </div>
      <div class="notibody">Valorização: {{ wallet['porcentagem'] }}</div>

          <div class="btn-pos ntv">
            <p-button class="mr-3" label="Vender"></p-button>

          </div>
        </div>

      </div>

      <div class="card" *ngIf="wallets.length == 0">
        <h1 style="color: #FFB267; margin-left: 10px;" >Você não tem nenhuma ação rendendo na sua carteira! <a href="/homebroker">Clique aqui para comprar.</a></h1>

      </div>
    </div>
