


::ng-deep .ntv  .p-button {
  background-color: #FFB267;
  border: none;
}


::ng-deep  .p-panel .p-panel-header {
  background-color: #18181b;
  border: none;
  color: #FFB267;
}


::ng-deep .p-panel .p-panel-content {
  background-color: #29292c;
  border: 2px solid #18181b;
  color: #FFB267;
}