<div class="" style="margin-bottom: 20px; margin-top: 6%;">
    <p-panel header="Adicionar Saldo">
        <h1>Escolha o Valor á ser adicionado</h1>

        <p style="color: white; font-size: 14px;"> Para garantir que o saldo seja creditado corretamente na sua conta, é essencial que você utilize os mesmos dados cadastrados na plataforma ao efetuar o pagamento. Certifique-se de inserir corretamente o seu CPF, pois ele é a informação principal para a integração do pagamento com nossa plataforma. Qualquer divergência nos dados impossibilitará o crédito do saldo na sua conta.</p>
      <div class="flex">
        <a href="https://pay.checkoutdomainv4.site/meABG9a7EeKG6Ea">
            <div class="card2">
                <div class="pricing-block-content">
                  <div class="price-value" data-currency="$ USD" data-currency-simple="USD">
                    <p class="price-number">R$ 100,00<span class="price-integer">0</span></p>
                  </div>
                 
                </div>
              </div>
        </a>

          <a href="https://pay.checkoutdomainv4.site/NDr8gm5aAWEgBmj">
            <div class="card2" >
                <div class="pricing-block-content">
                  <div class="price-value" data-currency="$ USD" data-currency-simple="USD">
                    <p class="price-number">R$ 200,00<span class="price-integer">0</span></p>
                  </div>
                 
                </div>
              </div>
          </a>

          <a href="https://pay.checkoutdomainv4.site/YEwR3Ab2WzoZdKy">
            <div class="card2">
                <div class="pricing-block-content">
                  <div class="price-value" data-currency="$ USD" data-currency-simple="USD">
                    <p class="price-number">R$ 300,00<span class="price-integer">0</span></p>
                  </div>
                 
                </div>
              </div>
          </a>

         <a href="https://pay.checkoutdomainv4.site/zj6aGn5knajZwlK">
            <div class="card2">
                <div class="pricing-block-content">
                  <div class="price-value" data-currency="$ USD" data-currency-simple="USD">
                    <p class="price-number">R$ 500,00<span class="price-integer">0</span></p>
                  </div>
                 
                </div>
              </div>
         </a>
    

          <a href="https://pay.checkoutdomainv4.site/P5LNZ8eP7wYGaRy">
            <div class="card2">
                <div class="pricing-block-content">
                  <div class="price-value" data-currency="$ USD" data-currency-simple="USD">
                    <p class="price-number">R$ 1000,00<span class="price-integer">0</span></p>
                  </div>
                 
                </div>
              </div>
          </a>

      </div>
    </p-panel>
  </div>
  


  